
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

html{
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
}
header{
    display:flex ;
    justify-content:space-between;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    
}
header h1{
    font-size: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Antonio', sans-serif;
}
.logo{
    display: flex;
    min-width:39rem ;
}
.logo img{    
    height: 5.5rem;
    width: auto;
}
body {
	background-color: white;
	color: black;     
}    
header nav{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Antonio', sans-serif;
    
    display: flex;
    justify-content: space-evenly;
    
}
#mission{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/background1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-family: 'Antonio', sans-serif;    
}
#mission p{
    text-align: center;
    margin-top: 0.5rem;
}

#mission h2{
    text-align: center;
    font-size: 3rem;
}
.m_con{
    background-color: ivory;
    color:black;
    width: 100%;
    padding-bottom: 0.5rem ;

}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product{
    width: 15rem;
    height: 10rem;
    overflow: hidden;
}
.product img{
    height: 8.5rem;

}
#employees{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.employee{
    width: 10rem;
    height: 15rem;
    overflow: hidden;
}
.employee img{
    height: 8.5rem;
    display: block;
}